html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    padding: 40px;
    line-height: 3;
    margin: 0 auto;
    font-family: 'Lato:ital', sans-serif;
    width: 1000px;
    height: 1000px;
    background-image: url("../images/landspace2.jpg");
    background-size: 1500px;
    background-repeat: no-repeat;
}